<!--
<h1 class="c1">{{ title }}</h1>

<div *ngIf="success_msg; then updated_msg; else error_msg" style="background-color: aquamarine;" >
  
</div>

<ng-template #updated_msg>
  User was updated
</ng-template>

<ng-template #error_msg>
  User was not added
</ng-template>

<ul>
  <li *ngFor="let contact of contacts; index as i; first as f">
    <div *ngIf="f">this is first record</div>
    <div>
      {{ i }} {{ contact.firstName }} {{ contact.lastName }} 
    </div>
    
  </li>
</ul>
-->
<div class="container">

  <div [hidden]="submitted">
    <h1>Super Hero Form</h1>
    <form #superheroForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group"> 
        <label for="name">Super Hero Name</label>
        <input 
        type="text" 
        class="form-control" 
        id="name" required 
        [(ngModel)]="model.name" 
        name="name" #name="ngModel"
        >

        <div [hidden]="name.valid || name.pristine"
        class="alert alert-danger">
          Superhero Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="weapon">Hero weapon</label>
        <select class="form-control" id="weapon" required [(ngModel)]="model.weapon" name="weapon" #weapon="ngModel">
          <option *ngFor="let wp of weapons" [value]="wp">{{wp}}</option>
        </select>

        <div [hidden]="weapon.valid || weapon.pristine" class="alert alert-danger">
          weapon is required
        </div>


      </div>

      <div class="form-group">
        <label for="speciality">Speciality</label>
        <select class="form-control" id="speciality" required [(ngModel)]="model.speciality" name="speciality" #speciality="ngModel">
          <option *ngFor="let spec of specialities" [value]="spec">{{spec}}</option>
        </select>

        <div [hidden]="speciality.valid || speciality.pristine" class="alert alert-danger">
          speciality is required
        </div>
      </div>

      <div class="form-group"> 
        <label for="realname">Real Name</label>
        <input type="text" class="form-control" id="realname">
      </div>
      <br>
      <button type="submit" [disabled]="!superheroForm.form.valid" class="btn btn-success">Submit</button>
      
    </form>

  </div>

  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Super Hero Name</div>
      <div class="col-xs-9">{{ model.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Real Name</div>
      <div class="col-xs-9">{{ model.realname }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Weapon</div>
      <div class="col-xs-9">{{ model.weapon }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Speciality</div>
      <div class="col-xs-9">{{ model.speciality }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>
</div>